<h1 class="text-center">Oops! error occurred...</h1>
<div class="row">
  <p class="col-auto text-center fs-1 fw-bold">{{err}}</p>
</div>
<div class="row">
  <div class="col-auto mx-auto">
    <a href="/" class="btn btn-dark">回首頁</a>
  </div>
</div>