<div class="row">
  <div class="col col-8 mx-auto">
    <div class="card card-body">
      <h1 class="text-center">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="輸入電子郵件"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="輸入密碼"
          />
        </div>
        <div class="d-grid col-11 mx-auto">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/auth/facebook" class="btn btn-info mt-2">Facebook</a>
          <a href="/auth/google" class="btn btn-dark mt-2">Google</a>
        </div>
        <p class="mt-2 mb-0">No account?
          <a href="/users/register">點我註冊</a></p>
      </form>
    </div>
  </div>
</div>