<form action="/">
  <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect01">
      <option selected>類別</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</form>

<div class="row">
  <h1 class="col-4 fs-3">總金額: </h1>
  <p class="col-8 text-center fs-1 fw-bold totalAmountContainer">我是總金額</p>
</div>
{{!-- Records area --}}
<table class="table table-striped">
  <tbody>
    {{#each records}}
      <tr class="align-middle">
        <td class="col-1 text-center"><i
            class="{{this.categoryId.icon}}"
          ></i></td>
        <td>
          {{this.name}}
          <br />
          {{this.date}}
        </td>
        <td>{{this.amount}}</td>
        <td class="text-end">
          <a href="/" class="btn btn-dark">修改</a>
          <form action="" style="display: inline;">
            <button href="/" class="btn btn-danger">刪除</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="row">
  <div class="col mx-auto text-center">
    <a href="/records/new" class="btn btn-primary">新增支出</a>
  </div>
</div>