<div class="row">
  <div class="col col-8 mx-auto">
    <div class="card card-body">
      <h1 class="text-center">Register</h1>
      <form action="">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="name"
            name="email"
            placeholder="輸入電子郵件"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input
            type="password"
            class="form-control"
            id="date"
            name="password"
            placeholder="輸入密碼"
          />
        </div>
        <div class="d-grid col-11 mx-auto">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <p class="mt-2 mb-0">Already have an account?
          <a href="/">點我登入</a></p>
      </form>
    </div>
  </div>
</div>