<div class="row">
  <div class="col col-8 col-md-6 mx-auto">
    <div class="card card-body">
      <h1 class="text-center">輸入新密碼</h1>
      <form action="/users/forgot-password" method="POST">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="輸入新密碼"
          />
        </div>
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmNewPassword"
            name="confirmNewPassword"
            placeholder="確認新密碼"
          />
        </div>
        <div class="d-grid col-11 mx-auto">
          <button type="submit" class="btn btn-primary">重設密碼</button>
          <a href="/" class="btn btn-dark mt-2">回登入頁</a>
        </div>
      </form>
    </div>
  </div>
</div>